:root {
    --primary-color: #d30d60;
    --seconddary-color: #210060;
    --complementary-color-1: #666666;
    --complementary-color-2: #ffffff;
}

@font-face {
    font-family: 'Quicksand';
    font-weight: 400;
    font-style: normal;
    src: local('Quicksand'), url("../fonts/Quicksand-Regular.ttf"), format('truetype');
}
@font-face {
    font-family: 'Quicksand';
    font-weight: 500;
    font-style: normal;
    src: local('Quicksand'), url("../fonts/Quicksand-Bold.ttf"), format('truetype');
}
@font-face {
    font-family: 'Quicksand';
    font-weight: 500;
    font-style: normal;
    src: local('Quicksand'), url("../fonts/Quicksand-SemiBold.ttf"), format('truetype');
}
@font-face {
    font-family: 'Quicksand';
    font-weight: 400;
    font-style: normal;
    src: local('Quicksand'), url("../fonts/Quicksand-Medium.ttf"), format('truetype');
}
@font-face {
    font-family: 'Quicksand';
    font-weight: 400;
    font-style: normal;
    src: local('Quicksand'), url("../fonts/Quicksand-Light.ttf"), format('truetype');
}

* {
    font-family: 'Quicksand', sans-serif;
}
/* body {
    background-image: url('/images/Group\ 89.png');
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
} */
/* ----------- HEADER START ------------ */
.box-content {
    background-color: #f9f9f9;
    border-radius: 68px;
    width: 90%;
    margin: 50px auto;
    display: flex;
    justify-content: space-around;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
}
.logo-header {
    width: 12vh;
}
.content-header {
    display: flex;
    text-decoration: none;
}
.content-header-item {
    margin: auto;
    color: var(--seconddary-color);
}
/* ----------- HEADER END ------------ */


/* ----------- BODY START ------------ */
.content-body {
    margin-top: 10vh;
}
.line {
    height: 0px;
    width: 20vh;
    border-top: 1.5px solid var(--seconddary-color);
    margin-top: 25px;
}
/* ----------- SECTION INTRO START ------------ */
.intro-content {
    margin: auto;
    height: 200vh;
    width: 100%;
    justify-content: space-between;
    background-image: url('/images/Group\ 115.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.intro-content-row {
    display: flex;
    align-items: flex-end;
    height: 170vh;
    margin-left: 130px;
}
.intro-content-colume {
    /* display: flex; */
    align-items: flex-end;
}
.intro-content-card {
    display: flex;
    margin: 60px;
}
.image-intro-content {
    width: 150px;
    height: 150px;
}
.letter-intro-content {
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 0;
    padding-left: 15px;
}

.logo-section-box {
    width: 100%;
    display: flex;
    padding: 15vh 0;
}
.logo-section-item {
    margin: auto;
}
.services-content-title {
    text-align: center;
    font-size: 48px;
    line-height: 60px;
    font-weight: 700;
    color: var(--seconddary-color);
    padding: 0 0 10vh 0;
}
.services-content-box {
    display: flex;
    margin: auto;
    width: 70%;
}

.services-content-card {
    border: 0px;
    position: relative;
    margin: 20px;
}
.services-content-btn{
    position: absolute;
    background-color: var(--seconddary-color);
    border: 2px solid var(--seconddary-color);
    border-radius: 0 10px 10px 0;
    font-size: 24px;
    font-weight: 500;
    bottom: 120px;
    left: 2px;
}
.services-content-btn:hover {
    background-color: #ffffff;
    color: var(--seconddary-color);
    border: 2px solid var(--seconddary-color);
}
.services-content-card-body {
    padding: 10px 0;
}
.services-content-card-text {
    line-height: 2.8vh;
    color: var(--seconddary-color);
    text-align: justify;
}
/* ----------- SECTION INTRO END ------------ */

/* ----------- SECTION MANAGEMENT START ------------ */
.management-content {
    width: 90%;
    margin: auto;
}

/* ----------- SECTION MANAGEMENT END ------------ */

/* ----------- BODY END ------------ */

@media only screen and (min-width: 1805px) {
    /* .line {
        width: 25%;
    } */
}